.html{
    background-color: bisque;
    padding: 70px;
    height: 100px;
    justify-content: center;
}

.heading{
    text-align: center;
    padding: 150px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.mydiv{
    font-size: 20px;
    text-align: center;
}

.footer{
    align-items: center;
    padding-left: 279px;
}

.li-selanjutnya{
    text-align: center;
    padding: 30px;
    border-style: none;
    justify-content: center;
}

.audio{
    justify-content: center;
    align-items: center;
    padding-left:200px;

}
